@import '../../../../assets/styles/variables';

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion {
  width: 100%;
  color: #fff;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0.5rem 0;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $blue-dark;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: darken($blue-dark, 10%);
    }
    &::after {
      content: '\276F';
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
      transform: rotate(90deg);
      transform-origin: center center;
    }
  }
  .accordion__body {
    max-height: 0;
    padding: 0 1em;
    color: #fff;
    background: $orange;
    transition: all 0.35s;
  }
}

// :checked
input:checked {
  + .accordion__header {
    background: darken($blue-dark, 10%);
    &::after {
      transform: rotate(-90deg);
      transform-origin: center center;
    }
  }
  ~ .accordion__body {
    max-height: 100vh;
    padding: 1em;
  }
}
