<div class="accordion">
  <input type="checkbox" [id]="'accordion' + index" />
  <label class="accordion__header" [for]="'accordion' + index">{{
    post.title
  }}</label>
  <div class="accordion__body">
    {{ post.body }}
    <div>
      <app-button
        [routerLink]="['/edit', post.id]"
        [queryParams]="{ isNewEntity: false }"
        [classList]="['is-small', 'is-info']"
        [placeholder]="'edit'"
      ></app-button>
      <app-button
        [placeholder]="'remove'"
        [classList]="['is-small', 'is-danger']"
        (clickEvent)="handleRemoveEvent(post.id)"
      >
      </app-button>
    </div>
  </div>
</div>
