<div class="field" [formGroup]="parentGroup">
  <label class="label">{{ placeholder }}</label>
  <input
    [ngClass]="['input', controlClass]"
    [type]="type"
    [placeholder]="placeholder"
    [formControlName]="controlName"
  />
  <p class="help is-danger">{{ errorLabels }}</p>
</div>
