<form class="container" [formGroup]="form">
  <div>
    <app-input
      [controlName]="'title'"
      [placeholder]="'title'"
      [parentGroup]="form"
    ></app-input>
    <app-textarea
      [controlName]="'body'"
      [placeholder]="'body'"
      [parentGroup]="form"
    ></app-textarea>
  </div>
  <app-button
    [placeholder]="'Submit'"
    (clickEvent)="submitForm()"
    [disabled]="!form.valid"
    [classList]="['is-primary']"
  ></app-button>
  <app-button [placeholder]="'Back'" (clickEvent)="handleBack()"></app-button>
</form>
