<div class="field" [formGroup]="parentGroup">
  <label class="label">{{ placeholder }}</label>
  <textarea
    [ngClass]="['textarea', controlClass]"
    cols="30"
    rows="10"
    [placeholder]="placeholder"
    [formControlName]="controlName"
  ></textarea>
  <p class="help is-danger">{{ errorLabels }}</p>
</div>
