<div class="columns">
  <div class="column is-1">
    <a [routerLink]="['/list']" routerLinkActive="active">
      Posts
    </a>
  </div>
  <div class="column is-1">
    <a
      [routerLink]="['/new']"
      [queryParams]="{ isNewEntity: true }"
      routerLinkActive="active"
    >
      Create post
    </a>
  </div>
</div>
<div class="loader-container" *ngIf="loading$ | async">
  <app-loader></app-loader>
</div>

<router-outlet></router-outlet>
