.loader-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.active {
  color: red;
}
