<div class="box">
  <app-filter #searchInput></app-filter>
</div>
<div class="box">
  <div
    class="column"
    InfiniteScroll
    (heightEmitter)="handleInfiniteScroll($event)"
  >
    <app-accordion
      *ngFor="let post of list$ | async; let i = index"
      [post]="post"
      [index]="i"
    ></app-accordion>
  </div>
</div>
